export(intervalICC)
export(ntest.means)
export(ntest.res)
S3method(print, ICCfit)
S3method(print, ntestRes)
S3method(print, summary.ICCfit)
S3method(print, summary.ntestMeans)
S3method(print, summary.ntestRes)
S3method(summary, ICCfit)
S3method(summary, ntestMeans)
S3method(summary, ntestRes)
importFrom("stats", "chisq.test", "constrOptim", "dnorm", "integrate", "na.omit", "pnorm", "qnorm", "sd")
